@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Tiny5&display=swap');

.nunito-bold {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

.nunito {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

body {
    color:white;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

.card {
    background-color: rgb(81, 77, 161);
    border-radius: 10px;
    padding: 10px;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 20px;
    border: 2px solid black;
}

img {
    border-radius: 10px;
    width:40%;

}

