body {
    background-color: black;
    color:white;
}

.rainbow-text {
    background: linear-gradient(-45deg, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    color: transparent;
    font-size: 40px;
}

h4 {
    color: powderblue
}